In [1]:
import pandas as pd
import numpy as np
import pandas_ta as ta

import math
import yfinance as yf
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
df_nvda = yf.download('NVDA', start='2003-01-01',
               end='2023-01-01')
df_nvda

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close      Volume
Date
2003-01-02   0.100000   0.103750   0.096583   0.102583   0.094092  1302540000
2003-01-03   0.102917   0.106250   0.100833   0.102583   0.094092  1037496000
2003-01-06   0.105083   0.112583   0.105000   0.110917   0.101736  1033428000
2003-01-07   0.113083   0.115667   0.109333   0.110583   0.101430  1498272000
2003-01-08   0.107750   0.110917   0.098833   0.099583   0.091340  1852524000
...               ...        ...        ...        ...        ...         ...
2022-12-23  15.196000  15.339000  14.883000  15.206000  15.197295   349326000
2022-12-27  15.074000  15.100000  14.056000  14.121000  14.112916   464902000
2022-12-28  13.927000  14.262000  13.884000  14.036000  14.027966   351066000
2022-12-29  14.402000  14.683000  14.227000  14.603000  14.594641   354923000
2022-12-30  14.334000  14.629000  14.233000  14.614000  14.605634   310490000

[5035 rows x 6 columns]

# Label Target

In [3]:
df_nvda['Log_rtn'] = df_nvda['Close'].pct_change(1)
df_nvda['Target'] = df_nvda['Log_rtn'].shift(-1)

In [4]:
df_nvda

,Open,High,Low,Close,Adj Close,Volume,Log_rtn,Target
Date,,,,,,,,
2003-01-02,0.100000,0.103750,0.096583,0.102583,0.094092,1302540000,NaN,0.000000
2003-01-03,0.102917,0.106250,0.100833,0.102583,0.094092,1037496000,0.000000,0.081242
2003-01-06,0.105083,0.112583,0.105000,0.110917,0.101736,1033428000,0.081242,-0.003011
2003-01-07,0.113083,0.115667,0.109333,0.110583,0.101430,1498272000,-0.003011,-0.099473
2003-01-08,0.107750,0.110917,0.098833,0.099583,0.091340,1852524000,-0.099473,0.017573
...,...,...,...,...,...,...,...,...
2022-12-23,15.196000,15.339000,14.883000,15.206000,15.197295,349326000,-0.008671,-0.071353
2022-12-27,15.074000,15.100000,14.056000,14.121000,14.112916,464902000,-0.071353,-0.006019
2022-12-28,13.927000,14.262000,13.884000,14.036000,14.027966,351066000,-0.006019,0.040396
2022-12-29,14.402000,14.683000,14.227000,14.603000,14.594641,354923000,0.040396,0.000753
2022-12-30,14.334000,14.629000,14.233000,14.614000,14.605634,310490000,0.000753,NaN

In [5]:
df_nvda['rsi'] = ta.rsi(df_nvda['Close'], length=14)
df_nvda[['k','d']] = ta.stochrsi(df_nvda['Close'])
df_nvda[['macd','macdhist','macdsignal']] = ta.macd(df_nvda['Close'], 
                                                        fastperiod=12, slowperiod=26, signalperiod=9)
df_nvda['adosc'] = ta.adosc(df_nvda['High'], df_nvda['Low'],df_nvda['Close'],
                    df_nvda['Volume'],fastperiod=3, slowperiod=10)
df_nvda['atr'] = ta.atr(df_nvda['High'], df_nvda['Low'],df_nvda['Close'], timeperiod=14)
df_nvda['tr'] = ta.true_range(df_nvda['High'], df_nvda['Low'],df_nvda['Close'])

In [6]:
df_nvda = df_nvda.dropna()

In [7]:
df_nvda

,Open,High,Low,Close,Adj Close,Volume,Log_rtn,Target,rsi,k,d,macd,macdhist,macdsignal,adosc,atr,tr
Date,,,,,,,,,,,,,,,,,
2003-02-20,0.107500,0.110333,0.106667,0.107083,0.098219,978132000,0.000000,0.000784,66.586115,1.000000e+02,97.448754,0.000236,0.005019,-0.004783,1.262528e+09,0.006064,0.003666
2003-02-21,0.107000,0.107417,0.103333,0.107167,0.098296,913260000,0.000784,0.012439,66.655213,1.000000e+02,100.000000,0.001243,0.004821,-0.003578,1.308923e+09,0.005922,0.004084
2003-02-24,0.106250,0.112417,0.105667,0.108500,0.099519,1137012000,0.012439,-0.006147,67.793435,1.000000e+02,100.000000,0.002125,0.004562,-0.002437,1.150811e+09,0.005982,0.006750
2003-02-25,0.105000,0.108333,0.103333,0.107833,0.098907,1239204000,-0.006147,-0.048686,66.568958,9.878567e+01,99.595224,0.002737,0.004140,-0.001402,1.296943e+09,0.005923,0.005167
2003-02-26,0.106417,0.108167,0.102333,0.102583,0.094092,746892000,-0.048686,0.021124,57.730306,8.880596e+01,95.863877,0.002768,0.003336,-0.000568,1.021541e+09,0.005917,0.005834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-22,16.094000,16.138000,14.882000,15.339000,15.330219,565045000,-0.070420,-0.008671,43.401160,6.355944e+00,4.237296,0.257200,-0.258452,0.515653,-1.246632e+08,0.785993,1.618999
2022-12-23,15.196000,15.339000,14.883000,15.206000,15.197295,349326000,-0.008671,-0.071353,42.506114,6.355944e+00,6.355944,0.138132,-0.302017,0.440148,-7.345105e+07,0.762422,0.455999
2022-12-27,15.074000,15.100000,14.056000,14.121000,14.112916,464902000,-0.071353,-0.006019,35.986160,-1.302662e-14,4.237296,-0.043282,-0.386744,0.343462,-1.753269e+08,0.790107,1.150001
2022-12-28,13.927000,14.262000,13.884000,14.036000,14.027966,351066000,-0.006019,0.040396,35.526414,-1.302662e-14,2.118648,-0.191703,-0.428132,0.236429,-2.229321e+08,0.760670,0.378000
2022-12-29,14.402000,14.683000,14.227000,14.603000,14.594641,354923000,0.040396,0.000753,40.946164,5.700969e+00,1.900323,-0.260572,-0.397601,0.137029,-1.488350e+08,0.752551,0.646999

## Define how signal raise

In [8]:
# RSI 30 oversold, 70 overbought
df_nvda.loc[df_nvda.index, ['rsi_signal']] = np.where(df_nvda['rsi']<30, 1, 
                                np.where(df_nvda['rsi']>70, -1, 0)).tolist()

In [9]:
# STOCHASTIC k & d below 20, and k > d, buy for oversold
df_nvda.loc[df_nvda.index, ['stoch_signal']] = np.where(
    (df_nvda['k']<20)&(df_nvda['d']<20)&(df_nvda['k']>df_nvda['d']), 1, 
        np.where((df_nvda['k']>80)&(df_nvda['d']>80)&(df_nvda['k']<df_nvda['d']),-1,0)).tolist()

In [10]:
# MACD-histogram > 0, buy signal
df_nvda.loc[df_nvda.index, ['macd_signal']] = np.where(df_nvda['macdhist']>0, 1,
                                        np.where(df_nvda['macdhist']<0, -1, 0)).tolist()

In [11]:
# ADOSC: 0 is threshold line, from <0 to >0, buy signal
df_nvda.loc[df_nvda.index, ['adosc_signal']] = np.where(
            (df_nvda['adosc'].shift(1)<0) & (df_nvda['adosc']>0), 1,
                np.where((df_nvda['adosc'].shift(1)>0) & (df_nvda['adosc']<0), -1, 0)).tolist()

In [12]:
# if current close higher than average range, buy signal
df_nvda.loc[df_nvda.index, ['atr_signal']] = np.where(df_nvda['tr']>df_nvda['atr'], 1,
                                                np.where(df_nvda['tr']<df_nvda['atr'], -1, 0)).tolist()

## Create features and label

In [13]:
feats = df_nvda[['rsi_signal','stoch_signal','macd_signal',
                      'adosc_signal','atr_signal','Log_rtn','Target']].copy()

In [14]:
feats.sample(3)

,rsi_signal,stoch_signal,macd_signal,adosc_signal,atr_signal,Log_rtn,Target
Date,,,,,,,
2021-03-09,0.0,1.0,-1.0,0.0,1.0,0.079960,-0.004153
2014-05-07,0.0,0.0,-1.0,0.0,-1.0,0.001096,0.012589
2005-11-03,0.0,0.0,1.0,0.0,1.0,-0.011695,-0.017029

In [15]:
# correctly predicted buy
feats['Target'].loc[(feats['rsi_signal']==1)&(feats['Target']>0)].count()

78

In [16]:
# mean of correct predict buy log_return
feats['Target'].loc[(feats['rsi_signal']==1)&(feats['Target']>0)].mean()

0.03375589607398304

In [17]:
# incorrectly predicted buy
feats['Target'].loc[(feats['rsi_signal']==1)&(feats['Target']<0)].count()

77

In [18]:
# mean of incorrect predict buy log_return
feats['Target'].loc[(feats['rsi_signal']==1)&(feats['Target']<0)].mean()

-0.02939396313899889

In [19]:
# correctly predicted sell
feats['Target'].loc[(feats['rsi_signal']==-1)&(feats['Target']<0)].count()

262

In [20]:
# mean of correct predict sell log_return
feats['Target'].loc[(feats['rsi_signal']==-1)&(feats['Target']<0)].mean()

-0.015680214684159133

In [21]:
# incorrectly predicted sell
feats['Target'].loc[(feats['rsi_signal']==-1)&(feats['Target']>0)].count()

285

In [22]:
# mean of incorrect predict sell log_return
feats['Target'].loc[(feats['rsi_signal']==-1)&(feats['Target']>0)].mean()

0.018688513521895437

In [23]:
def indicator_result(indicator, feats):
    buy_correct_time = feats['Target'].loc[(feats[indicator]==1)&(feats['Target']>0)].count()
    buy_correct_mean = feats['Target'].loc[(feats[indicator]==1)&(feats['Target']>0)].mean()
    buy_incorrect_time = feats['Target'].loc[(feats[indicator]==1)&(feats['Target']<0)].count()
    buy_incorrect_mean = feats['Target'].loc[(feats[indicator]==1)&(feats['Target']<0)].mean()
    buy_correct_ratio = buy_correct_time / (buy_correct_time + buy_incorrect_time)
    
    sell_correct_time = feats['Target'].loc[(feats[indicator]==-1)&(feats['Target']<0)].count()
    sell_correct_mean = feats['Target'].loc[(feats[indicator]==-1)&(feats['Target']<0)].mean()
    sell_incorrect_time = feats['Target'].loc[(feats[indicator]==-1)&(feats['Target']>0)].count()
    sell_incorrect_mean = feats['Target'].loc[(feats[indicator]==-1)&(feats['Target']>0)].mean()
    sell_correct_ratio = sell_correct_time / (sell_correct_time + sell_incorrect_time)
    return [ indicator, f"buy_correct_ratio: {buy_correct_ratio:.4f}", 
                        f"buy_correct_mean: {buy_correct_mean*100:.4f}%", 
                        f"sell_correct_ratio: {sell_correct_ratio:.4f}", 
                        f"sell_correct_mean: {sell_correct_mean*100:.4f}%"]

In [24]:
indicator_result('rsi_signal', feats)

['rsi_signal',
 'buy_correct_ratio: 0.5032',
 'buy_correct_mean: 3.3756%',
 'sell_correct_ratio: 0.4790',
 'sell_correct_mean: -1.5680%']

In [25]:
indicator_result('stoch_signal', feats)

['stoch_signal',
 'buy_correct_ratio: 0.5094',
 'buy_correct_mean: 2.1895%',
 'sell_correct_ratio: 0.4748',
 'sell_correct_mean: -2.0151%']

In [26]:
indicator_result('macd_signal', feats)

['macd_signal',
 'buy_correct_ratio: 0.5177',
 'buy_correct_mean: 2.2111%',
 'sell_correct_ratio: 0.4691',
 'sell_correct_mean: -2.2187%']

In [27]:
indicator_result('adosc_signal', feats)

['adosc_signal',
 'buy_correct_ratio: 0.5451',
 'buy_correct_mean: 1.8422%',
 'sell_correct_ratio: 0.4721',
 'sell_correct_mean: -2.4982%']

In [28]:
indicator_result('atr_signal', feats)

['atr_signal',
 'buy_correct_ratio: 0.5165',
 'buy_correct_mean: 2.2973%',
 'sell_correct_ratio: 0.4709',
 'sell_correct_mean: -2.0649%']

## Comprehensive analyse

In [35]:
# We perform buy if triggered by only 1 indicator, we may have 756 correct, and 690 wrong
feats['Comp_signal'] = np.where((np.where(feats['rsi_signal']==1,1,0) +
            np.where(feats['stoch_signal']==1,1,0)+
            np.where(feats['macd_signal']==1,1,0)+
            np.where(feats['adosc_signal']==1,1,0)+
            np.where(feats['atr_signal']==1,1,0)
         )>1 , 1, 0 )

In [30]:
feats['Target'].loc[(feats['Comp_signal']==1) & (feats['Target']>0)].count()

756

In [31]:
feats['Target'].loc[(feats['Comp_signal']==1) & (feats['Target']<0)].count()

690

In [32]:
# We perform buy if triggered by at least 2 indicator, we may have 48 correct, and 45 wrong.
feats['Comp_signal'] = np.where((np.where(feats['rsi_signal']==1,1,0) +
            np.where(feats['stoch_signal']==1,1,0)+
            np.where(feats['macd_signal']==1,1,0)+
            np.where(feats['adosc_signal']==1,1,0)+
            np.where(feats['atr_signal']==1,1,0)
         )>2 , 1, 0 )

In [33]:
feats['Target'].loc[(feats['Comp_signal']==1) & (feats['Target']>0)].count()

48

In [34]:
feats['Target'].loc[(feats['Comp_signal']==1) & (feats['Target']<0)].count()

45